Inventory {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    top: 1vh;
    font-size: 18px;
    color: #4cff00;
    gap: 12px;
    mix-blend-mode: lighten;
    transition: all 0.2s linear;
}

Inventory.hidden
{
    opacity: 0;
}